apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service
  namespace: ai-obs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-service
  template:
    metadata:
      labels:
        app: ai-service
    spec:
      containers:
      - name: ai
        image: ai-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5001
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: ai-service
  namespace: ai-obs
  labels:
    app: ai-service
spec:
  selector:
    app: ai-service
  ports:
  - name: http
    port: 5001
    targetPort: 5001
